@model NCSA.Models.SetPasswordViewModel
@{
    ViewBag.Title = "SetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login">
    <div class="login__box">
        @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m=>m.UserId)

            <div class="login__box-titlebig pb-lg">Set Password For @Model.UserName</div>
            if (!ViewData.ModelState.IsValid && ViewContext.ViewData.ModelState.Where(x => x.Key == "").Any())
            {
                <div class="validation-alert">
                    @Html.ValidationSummary(true, "", new { @class = "" })
                </div>
            }
            <div class="input__group">
                @Html.TextBoxFor(m => m.NewPassword, new { placeholder = "New password", @class = "input", autofocus = "autofocus" })
                @Html.LabelFor(m => m.NewPassword, new { @class = "label" })
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "validation-error" })
            </div>
            <div class="input__group">
                @Html.TextBoxFor(m => m.ConfirmPassword, new { placeholder = "Confirm new password", @class = "input" })
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "label" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "validation-error" })
            </div>
            <input type="submit" value="Set Password" class="bttn bttn-secondary login__box-button" />
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

